In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
data={
    "kv_metr":[130, 200, 79, 48, 345, 78, 73, 88, 91, 101 ],
    "narxi":[8490, 10780, 19270, 6098, 8849, 34949, 8459, 40621, 47035, 55043]
}
df=pd.DataFrame(data)

In [3]:
df

   kv_metr  narxi
0      130   8490
1      200  10780
2       79  19270
3       48   6098
4      345   8849
5       78  34949
6       73   8459
7       88  40621
8       91  47035
9      101  55043

In [4]:
X=df[["kv_metr"]]
y=df["narxi"]

In [6]:
X

   kv_metr
0      130
1      200
2       79
3       48
4      345
5       78
6       73
7       88
8       91
9      101

In [8]:
y

0     8490
1    10780
2    19270
3     6098
4     8849
5    34949
6     8459
7    40621
8    47035
9    55043
Name: narxi, dtype: int64

In [9]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
X_train

   kv_metr
5       78
0      130
7       88
2       79
9      101
4      345
3       48
6       73

In [11]:
y_train

5    34949
0     8490
7    40621
2    19270
9    55043
4     8849
3     6098
6     8459
Name: narxi, dtype: int64

In [12]:
lr_model=LinearRegression()

In [13]:
lr_model.fit(X_train,y_train)

LinearRegression()

In [14]:
weight=lr_model.coef_[0]
bias=lr_model.intercept_

In [15]:
print("Og'irlik:",weight)
print("bias:",bias)

Og'irlik: -46.97879028732663
bias: 28254.12755633271